body {
    font-family: Arial;
    text-align: center;
}

#button-el {
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#button-el:hover span {
    display: none;
}

#button-el:hover::after {
    content: "Ώρα για C++!";
}